<article class="slider-content">
    <section class="content">
        <section class="columns">
            <div class="col2">
                <div id="fb-root"></div>
                <script>
                    (function (d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) return;
                        js = d.createElement(s); js.id = id;
                        js.src = "//connect.facebook.net/tr_TR/sdk.js#xfbml=1&version=v2.3&appId=160921600658491";
                        fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));
                </script>
                <div class="fb-page" data-href="https://www.facebook.com/TrkyKanBankasi?fref=ts" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/TrkyKanBankasi?fref=ts"><a href="https://www.facebook.com/TrkyKanBankasi?fref=ts">Facebook</a></blockquote></div></div>
            </div>
        </section>
    </section>
</article>

